*, html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('./img/background.jpg');
    background-size: cover;
}

/*header*/
.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.orbita {
    flex: 0 0 700px; /* Три значения: flex-grow | flex-shrink | flex-basis */
    height: 350px;
    text-align: center;
    /*outline: 2px solid white;*/
}
.earth {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 2;
}
.moon {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 100px;
    top: 50px;
    -webkit-animation: linear 10s orbitaAnimation infinite;
    z-index: 0;
}
@-webkit-keyframes orbitaAnimation {
    0% {  } /*Start animation*/
    25% { left: 520px; top: 200px; z-index: 1; }
    50% { z-index: 3; }
    75% { z-index: 3; }
    80% { z-index: 3; }
    100% { z-index: 3; }
}
/*auth user*/
.authUser {
    flex: 0 0 150px; /* Три значения: flex-grow | flex-shrink | flex-basis */
    margin-right: 25px;
    margin-top: 25px;
    /*outline: 1px solid white;*/
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}
.authUser > input {
    width: 100%;
    height: 35px;
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(40, 40, 61, 0.567);
    border-radius: 10px;
}
.btnSendAuth {
    font-size: 16px;
    color: rgb(0, 0, 0);
}
/*articles*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
}
.container > div {
    padding: 1%;
}
.container > div > img {
    height: 100%;
    width: 100%;
}
.box {
    background-color: aliceblue;
    height: 10%;
    width: 20%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.558);
    margin-top: 5%;
}
/*footer*/
.footer > h1 {
    font-weight: 800;
    font-size: 45px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.572);
}
.footer span {
    font-weight: 800;
    font-size: 27px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.536);
}